*{
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body{
  font-weight: 400;
  -webkit-font-smoothing: antialiased; /* 使字体在webkit内核浏览器上更清晰 */
  -moz-osx-font-smoothing: grayscale; /* 使字体在moz内核浏览器上更清晰 */
  -webkit-tap-highlight-color: transparent; /* 去除移动端点击高亮 */
}
a{
  color: var(--xz-color-primary);
  text-decoration: none;
  &:hover
  &:focus{
    color: var(--xz-color-primary-light-1);
  }
  &:active{
    color: var(--xz-color-primary-dark-1);
  }
}
img {
  border-style: none;
}