.xz-form {
  --xz-form-label-font-size: var(--xz-font-size-base);
  --xz-form-content-font-size: var(--xz-font-size-base);
}
.xz-form-item {
  display: flex;
  margin-bottom: 18px;
  .xz-form-item__label {
    width: 150px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    font-size: var(--xz-form-label-font-size);
    color: var(--xz-text-color-regular);
  }
  .xz-form-item__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    line-height: 32px;
    font-size: var(--xz-form-content-font-size);
    min-width: 0;
    position: relative;
  }
  .xz-from-item__error-message {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2px;
    color: var(--xz-color-danger);
    font-size: 12px;
    line-height: 1;
  }
}

.xz-form-item.is-error .xz-input__wrapper {
  box-shadow: 0 0 0 1px var(--xz-color-danger) inset;
}
.xz-form-item.is-success .xz-input__wrapper {
  box-shadow: 0 0 0 1px var(--xz-color-success) inset;
}
.xz-form-item.is-required > .xz-form-item__label::before {
  content: "*";
  color: var(--xz-color-danger);
  margin-right: 4px;
}





