.xz-select{
  --xz-select-item-hover-bg-color:var(--xz-fill-color-light);
  --xz-select-item-font-size:var(--xz-font-size-base);
  --xz-select-item-font-color:var(--xz-text-color-regular);
  --xz-select-item-selected-font-color:var(--xz-color-primary);
  --xz-select-item-disabled-font-color:var(--xz-text-color-placeholder);
  --xz-select-input-focus-border-color:var(--xz-color-primary);
}

.xz-select{
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  .xz-tooltip .xz-tooltip__popper{
    padding: 0;
  }
  .xz-input__inner{
    cursor: pointer;
  }
  .xz-input.is-focus .xz-input__wrapper{
    box-shadow: 0 0 0 1px var(--xz-select-input-focus-border-color) inset !important;
  }
  .xz-select__icon{
    transition: transform var(--xz-transition-duration);
  }
  .xz-select__icon.is-reverse{
    transform: rotate(180deg);
    transition: transform var(--xz-transition-duration);
  }
}
.xz-select__menu{
  margin: 6px 0;
  padding: 0;
  box-sizing: border-box;
  .xz-select__menu-item{
    cursor: pointer;
    margin: 0;
    font-size: var(--xz-select-item-font-size);
    padding: 0 32px 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--xz-select-item-font-color);
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    &:hover{
      background-color: var(--xz-select-item-hover-bg-color);
    }
    &.is-selected{
      color: var(--xz-select-item-selected-font-color);
      font-weight: 700;
    }
    &.is-highlight{
      background-color: var(--xz-select-item-hover-bg-color);
    }
    &.is-disabled{
      color: var(--xz-select-item-disabled-font-color);
      cursor: not-allowed;
      &:hover{
        background-color: transparent;
      }
    }
  }
}
.xz-select_menu-empty{
  color: var(--xz-select-item-font-color);
  cursor: default;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xz-select_menu-loading{
  cursor: default;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}